*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background: #81ecec;
    font-size: 0.8rem;
}

.card{
    width: 100%;
    border-radius: 0px;
    padding: 4em;
    background-color: rgb(46, 45, 45);
    color: white;
    
}
.row{
    width: auto;
    margin: 0;
}

.path{

    color: grey;
}
.path a{
    color: white;
}
.info{
    padding: 6vh 0;
}

.checked{
    color: yellow;
}
img{
    height: 100px;
    width: 100%;
    padding: 1rem;
}

.fa-heart{
    font-size: 2rem;
    font-weight: lighter;
}
.fa-heart:hover{
    color: yellow;
}
.price{
    margin-top: 2rem;
}
.col-12 , .col-md-9{
    padding-left: 0 !important;
    padding-right: 0 !important;
} 

label{
    
    margin: 1rem;
    cursor: pointer;
    
}

label.radio span{
    padding: 1vh 4vh;
    background-color: rgb(54,54,54 );
    color: grey;
    display: inline-block;
}

label.radio input:checked+span{
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    display: inline-block;
}

label.radio input{
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none;
}

.carousel-control-prev{
    font-size: 1.3rem;
    bottom: 5vh;
    top: unset;
}
.carousel-control-next{
    font-size: 1.3rem;
    top: unset;
    bottom: 5vh;
    left: 15vh;
    right: unset;
}

.lower i{
    padding: 2.5vh;
    margin-right: 1vh;
    color: grey;
    border: 1px solid  rgb(85,85,85);
}

.lower .col{
    padding: 0;
}

.lower .btn{
    position: absolute;
    top: unset;
    bottom: 5vh;
    left: unset;
    right: 5vh;
    background:transparent;
    border:1px solid rgb(255, 217, 0);
    color: rgb(255, 217, 0);
    padding: 1.5vh 4vh;
    border-radius: 2px;
}